body {
	font-family: "Roboto Slab";
	margin: 0.5in;
}
#report {
	background:#FAFAFA;
}
div.code {
	font-family: 'ubuntu mono', monospace;
	font-size: 14px;
	line-height: 200%;
	position: relative;
}
div.code .scope {
	padding-left: 2em;
}
.unknown {
	background: black;
	color: white;
}
div.code .keyword {/* keywords */
	font-weight: bold;
}
div.code .logical { /* and, or, not */
	font-weight: bold;
	color: #F05;
}
div.code .literalKeyword { /* nil, false, true */
	font-weight: bold;
	color: #50F;
}
div.code .number {
	font-weight: bold;
	color: #E90;
}
div.code .string {
	color: #6782D3;
}

.pyellow, .pred, .pblue, .pgray, .ppurple {
	display: inline-block;
	padding: 0em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.pyellow {
	border-bottom: 3px solid #FFBA54;
	background: #FDA;
}

.pred {
	border-bottom: 3px solid #FF5454;
	background: #FAA;
}

.pblue {
	border-bottom: 3px solid #DDDDFF;
	background: #EEEEFF;
}

#hoverables {
	position: absolute;
	max-width: 50%;
	z-index: 10;
	line-height: 36px;
}

.post span:hover > .problemtext {
	display: block;
	position: absolute;
	z-index: 100;
	box-shadow: 0 0 15px 7px white;
}

#report > div {
	margin: 0.25em;
	padding: 0.5em;
	position: relative;
}
.info {
	background: #EEF;
}
.warning {
	background: #FDA;
}
.error {
	background: #FAA;
}
.implementation {
	background: #F7B;
	box-shadow: inset 0 0 5px 5px #BB5599;
}
.quantity {
	float: left;
	width: 2em;
	text-align: center;
	margin: 0;
	padding: 0;
	top: 0;
	color: transparent;
	font-weight: bold;
	border-right: 1px solid black;
	margin-right: 1em;
	padding-right: 0.5em;
	position: relative;
}
.quantity::before {
	content: "×"
}
code {
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: rgba(255, 255, 255, 0.5);
	padding: 0.5em;
}

hr {
	border: none;
	background: transparent;
	height: 0;
	border-bottom: 1px dotted black;
}

#suggested {
	font-size: 10px;
}
#suggested .pgray {
	font-size: 18px;
	line-height: 28px;
}
